<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45594180154-82akd3fovej45ucvc5c8961fl9gu6nf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45594180154-82akd3fovej45ucvc5c8961fl9gu6nf7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>45594180154-3qa4i4iv4tjcsem1oc792ve1cujjq9kc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS9gT5QrXNEpuxic89ia06qcH6MH3tM64</string>
	<key>GCM_SENDER_ID</key>
	<string>45594180154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosigndemo.lifelinkkh</string>
	<key>PROJECT_ID</key>
	<string>lifelinkkh</string>
	<key>STORAGE_BUCKET</key>
	<string>lifelinkkh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45594180154:ios:7805a9bcd5dce57f169303</string>
</dict>
</plist>